<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <h1>ProMan</h1>
        <h2 id="h2"></h2>
        <div id="boards" style="background-color:blue;">boards
    <button type='button' onclick="">+ New Board</button>
	<div id="board>
		<div id="board_heading" style="background-color:powderblue;">board_heading
        	<button type='button' onclick="">+ New Card</button>
            <button type='button' onclick="">Show/Hide</button>
        </div>

		<div id="cards_container" style="background-color:red;">
          <table>
          <tr>
          <th>New</th>
          <th>In progress</th>
          <th>Testing</th>
          <th>Done</th>
          </tr>

          <tr style="background-color:powderblue;">
          <td>er</td>
          <td>r</td>
          <td>ew</td>
          <td>we</td>
          </tr>

          </table>
        </div>
	</div>
    </body>
</html>